/* COLOR PALETTE: https://coolors.co/palettes/popular/earthly */

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    color: #3d2c2e;
}

#main {
    background-image: image-set("https://img.freepik.com/free-photo/simple-smooth-fabric-textured-background_53876-104856.jpg?size=626&ext=jpg");
    background-size: cover;
    background-color: #424c55;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#header {
    background-color: #886f68;
    color: #3d2c2e;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    font-weight: bold;
    box-shadow: black 0 0 50px 0;
}

#nav_left, #nav_right {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#nav_left {
    width: 50%;
    justify-content: flex-start;
}

#nav_right {
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

#content{
    background-color: #f5edf0;
    width: 80%;
    height: 70%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    box-shadow: 5px 5px 50px black, -5px -5px 50px black;
}

.content_container {
    width: 30%;
    margin: 0;
}

.content_container img {
   max-width: 80%;
   max-height: 80%;
}

#header a {
    height: 100%;
    width: 15%;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #3d2c2e;
    text-decoration: none; 
}


#header a:hover {
    background: #f5edf0;
    color: red;
    transition: 0.5s;
}